.GameStats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  width:100%;
}

.GameStats__left {
  text-align: left;
}

.GameStats__right {
  text-align: left;
}

.GameStats .value {
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.value span{
  color:#FEC53A;
}