.tile {
    display: grid;
    place-content: center;
    width: 5rem;
    height: 5rem;
}

.black-tile {
    background-color: #77955f;
}

.white-tile {
    background-color: #ebecd0;
}

.chess-piece{
    width:5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
}

.chess-piece:hover{
    cursor: grab;
}

.chess-piece:active{
    cursor: grabbing;
}