.section-3 {
    width: 100%;
    min-height: 80vh;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
}

.section-3-wrapper {
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 4px;
}

.feedback-box {
    width: 40rem;
    height: 20rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.767);
    border-radius: 10px;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.feedback img {
    border-radius: 10px;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}

.feedback-desc {
    padding: 0 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feedback-desc p,
.feedback-desc h2 {
    width: 20rem;
    text-align: center;
}

.feedback-desc h4 {
    color: #FEC53A;
    cursor: pointer;
}


@media (max-width:1300px) {
    .feedback-box {
        width: 75%;
    }
}

@media (max-width:840px) {
    .feedback-box {
        width: 90%;
    }
}

@media (max-width:725px) {

    .feedback-box {
        height: 16rem;
    }

    .feedback img {
        height: 8rem;
        width: 8rem;
    }

    .feedback-desc p,
    .feedback-desc h2,
    .feedback-desc h4 {
        font-size: smaller;
        width: auto;
        text-align: center;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }
}