.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding:10rem;
}

.link-container h2{
    text-align: center;
    margin: 1rem;
}


.link{
    color: #FEC53A;
    word-break: break-word;
    text-align: center;
}

@media (max-width:768px){
    .link-container{
        padding: 1rem;
    }
}

.main-game{
    display: flex;
    justify-content: center;
    align-items: center;
}

