.candy-crush-app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
}

.cc-score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: aliceblue;
}

.game {
    height: 32rem;
    width: 32rem;
    display: flex;
    flex-wrap: wrap;
}

.game img {
    height: 4rem;
    width: 4rem;
}

.scoring {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    height: 80vh
}

.scoring a {
    color: #FEC53A;
    cursor: pointer;
    font-size: 2rem;
}