.candy-crush-app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
    height:80vh;
}

.candy-crush-app h1{
    color: aliceblue;
}

.cc-score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: aliceblue;
    padding: 10px;
}

.game {
    height: 32rem;
    width: 32rem;
    display: flex;
    flex-wrap: wrap;
}

.game img {
    height: 4rem;
    width: 4rem;
}

.scoring {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    height: 80vh;
    padding: 10px;
    margin-top: 5rem;
}

.scoring h3 {
    text-align: center;
}

.scoring a {
    color: #FEC53A;
    cursor: pointer;
    font-size: 2rem;
}

@media (max-width:800px) {
    .cc-score h3 {
        text-align: center;
    }

    .game {
        height: 20rem;
        width: 20rem;
    }

    .game img {
        height: 2.5rem;
        width: 2.5rem;
    }
}